.all-view {
    height: 100%;

    .hub-pivot-content {
        .message-panel {
            margin-top: 10px;
        }

        .instance-list {        
            .bugbash-grid-cell {
                padding: 0;
            }
        }
    }    
}
