/*
** Layout
*/
#ext-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;    
    margin: 10px 15px;
    margin-bottom: 0;

    .fabric-container {
        height: 100%;
    }
}

.callout-container {
    max-height: 180px;
}

button[disabled], button[disabled]:hover, button[disabled]:focus {
    border: none !important;
}
