/*
** Layout
*/
#ext-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;    
    margin: 12px 20px 0 12px;

    .fabric-container {
        height: 100%;

        .loading-overlay {
            z-index: 10002;
            background-color: rgba(255,255,255, 0.6);
        }
    }    
}

.callout-container {
    max-height: 320px;
}

button[disabled], button[disabled]:hover, button[disabled]:focus {
    border: none !important;
}

.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.bugbash-badge {
    position: fixed;
    top: 7px;
    right: 25px;    
}

.bugbash-badge-callout {
    padding: 18px 24px 12px;

    .badge-callout-header {
        margin-bottom: 10px;
        font-size: 21px;
        font-weight: 100;
        color: #333333;
        font-weight: 500;
    }
}

.trumbowyg-box {
    p {
        margin: 0;
    }

    .trumbowyg-modal {
        overflow: visible;
    }
}

.progress-indicator {
    background: url("progress.gif") 0 -8px !important;
    height: 3px;
}