/*
** Layout
*/
#ext-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;    
    margin: 17px 20px;
    margin-bottom: 0;

    .fabric-container {
        height: 100%;
    }
}

/*
** Create New Button
*/
.create-new-button {
    float: right;

    &:hover, &:focus {
        color: #ffffff;
        background-color: #005a9e;
    }
}

.callout-container {
    max-height: 180px;
}

.context-menu {
    button[disabled], button[disabled]:hover, button[disabled]:focus {
        border: initial !important;
    }
}
