.bugbash-view {
    .bugbash-view-contents {
        .message-panel {
            margin-top: 10px;
        }

        .editor-view {
            margin: 8px;
        }
    }

    &.is-dirty .hub-header .hub-title {
        font-weight: bold;
        color: #000;
    }

    &.is-invalid .hub-header .hub-title {
        color: red;
    }
}