.results-view {
    display: flex;
    height: 100%;

    .bugbash-item-grid {        
        width: 75%;
        border-right: 1px solid #ccc;
        padding-right: 0;

        .item-grid-cell {
            padding: 0;
            margin: 0;
            display: inline;
            font-size: 13px;

            &.title-cell, &.id-cell {
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                    color: #0078d7;
                }
            }
        }

        .identity-view {
            font-size: 13px;
            height: 16px;
            line-height: 16px;
            margin-right: 0;

            .ms-Persona-details {
                padding: 0 0 0 5px;
            }

            .ms-Persona-primaryText {
                font-size: 13px;
            }
        }
    }

    .item-viewer {
        margin-left: 20px;
        padding-right: 10px;
        width: 25%;        
    }    
}