.bugbash-charts {
    display: flex;
    height: 100%;

    .chart-view {
        flex: 1;
        background-color: #f9f9f9;
        padding: 10px;
        margin-right: 10px;

        .header {
            font-weight: bold;
            margin-bottom: 10px;
        }
    }

    .chart-tooltip {
        border: 1px solid #ccc;
        background-color: white;
        color: #8884d8;
        padding: 10px;

        .team-name {
            margin-bottom: 10px;
            font-weight: bold;
            color: #111;
        }

        .tooltip-key {
            color: #111;
        }
    }
}