    .item-view {
    .item-view-menu {
        margin-bottom: 20px;
    }
    
    .trumbowyg-box {
        min-height: 250px;
        max-height: 250px;
        width: auto;
        margin: 0;
    }

    .create-new-button {
        float: right;
        margin-top: 20px;
        
        &:hover, &:focus {
            color: #ffffff;
            background-color: #005a9e;
        }
    }

    .item-comments {
        margin-top: 10px;

        .trumbowyg-box {
            min-height: 70px;
            max-height: 70px;

            .trumbowyg-button-pane {
                display: none;
            }
        }

        #comment-editor {
            padding: 5px;
            min-height: 70px;
            max-height: 70px;
        }
    } 
}