.bugbash-results {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    
    .split-layout {
        position: relative;
        display: flex;
        flex-direction: row;
        flex: 1;

        & > .layout-split {
            background-color: #ccc;
            cursor: e-resize;
            width: 1px;
            border-left: 2px solid #fff;
            border-right: 2px solid #fff;

            &:hover {
                background-color: #ccc;
                width: 1px;
                border-left: 2px solid #ccc;
                border-right: 2px solid #ccc;
            }
        }

        .left-content {
            height: 100%;
            display: flex;

            .nav-panel {
                border-right: 1px solid #ccc;
                height: 100%;
                padding-right: 1px;

                .ms-Nav-linkText {
                    vertical-align: top;
                }
            }

            .bugbash-item-grid {
                flex: 1;
                overflow: hidden;
                
                .message-panel {
                    margin-left: 10px;
                    margin-right: 10px;
                }

                .item-grid-cell {
                    padding: 0;
                    margin: 0;
                    display: inline;
                    font-size: 13px;

                    &.is-dirty {
                        font-weight: bold;
                        color: #000;

                        .identity-view {
                            .ms-Persona-primaryText {
                                font-weight: bold;
                                color: #000;
                            }
                        }
                    }

                    &.is-invalid {
                        color: red;

                        .identity-view {
                            .ms-Persona-primaryText {
                                color: red;
                            }
                        }
                    }

                    .identity-view {
                        font-size: 13px;
                        height: 16px;
                        line-height: 16px;
                        margin-right: 0;

                        .ms-Persona-details {
                            padding: 0 0 0 5px;
                        }

                        .ms-Persona-primaryText {
                            font-size: 13px;
                        }
                    }
                }                 
            }   
        }

        .right-content {
            height: 100%;

            .hub.item-editor-container {                
                .hub-header {
                    display: none;
                }

                .seperator {
                    margin: 0 5px;
                }

                .hub-pivot-menu-bar {
                    .auto-accept-menuitem, .acceptItemButton {
                        i {
                            color: #107c10;
                        }
                    }        

                    .reject-menu-item-checkbox {
                        padding: 10px;
                    }
                }

                .item-editor {
                    margin: 10px 5px 0 8px;
                }
            }  
        }
    }     
}