.results-view {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    
    .bugbash-title {
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: 500;
    }

    .results-container {
        display: flex;
        flex: 1;

        .left-content {
            width: 75%;       

            .pivot-container {
                height: 100%;
                display: flex;
                flex-direction: column;

                .analytics-container {
                    margin-top: 10px;
                    overflow: auto;
                    padding-bottom: 10px;
                }

                .bugbash-item-grid {
                    flex: 1;
                    padding-top: 10px;

                    .item-grid-cell {
                        padding: 0;
                        margin: 0;
                        display: inline;
                        font-size: 13px;

                        &.is-dirty {
                            font-weight: bold;

                            .identity-view {
                                .ms-Persona-primaryText {
                                    font-weight: bold;
                                }
                            }
                        }

                        &.is-invalid {
                            color: red;

                            .identity-view {
                                .ms-Persona-primaryText {
                                    color: red;
                                }
                            }
                        }

                        .identity-view {
                            font-size: 13px;
                            height: 16px;
                            line-height: 16px;
                            margin-right: 0;

                            .ms-Persona-details {
                                padding: 0 0 0 5px;
                            }

                            .ms-Persona-primaryText {
                                font-size: 13px;
                            }
                        }
                    }                 
                }      
            }
        }

        .right-content {
            width: 25%;
            border-left: 1px solid #ccc;
            height: 100%;

            .item-editor-container {
                margin-left: 20px;
                padding-right: 10px;
                height: 100%;
                overflow: auto;
                padding-bottom: 10px;

                .item-editor-container-header {
                    display: flex;

                    .item-editor-header {
                        flex: 1;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 40px;
                    }

                    .add-new-item-button {
                        margin-top: 10px;
                        font-size: 14px;

                        i {
                            font-size: 14px;
                            margin-left: 0;
                        }
                    }
                }
            }  
        }
    }
}