.bugbash-editor {
    .bugbash-editor-contents {
        outline: none;
        display: flex;
        flex-direction: row;        

        .first-section {
            flex: 2;
        }

        .second-section {
            flex: 1;
            margin-left: 30px;
        }

        .third-section {
            flex: 1;
            margin-left: 30px;
            margin-top: 22px;
        }

        .ms-DatePicker {
            margin-bottom: 0;
        }

        .input-error .error-icon {
            padding: 0;
        }

        .editor-dropdown.no-margin {
            margin-bottom: 5px;
        }

        .info-label {
            padding: 5px 0;
        }

        .checkbox-container {
            display: flex;

            .auto-accept {            
                margin-right: 10px;
            }

            .info-label {
                padding-top: 7px;
            }
        }

        .trumbowyg-box {
            margin: 0;

            &.trumbowyg-fullscreen {
                border: 1px solid #DDD !important;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }
    }
}
