.item-editor {
    .item-editor-header {
        font-weight: bold;
    }
    
    .item-editor-menu {
        margin-bottom: 10px;

        .auto-accept-menuitem {
            i {
                color: #107c10;
            }
        }
    }
    
    .trumbowyg-box {       
        width: auto;
        margin: 0;
    }

    .rich-editor {
        padding: 5px;

        p {
            margin: 0;
        }
    }

    .item-description-container {
        margin-top: 10px;

        .trumbowyg-box {
            #description-editor {
                min-height: 350px;
                max-height: 350px;
            }
        }
    }
}