.bugbash-view {
    height: 100%;

    .bugbash-hub {
        .hub-title {
            display: block;

            .bugbash-hub-title {
                display: flex;
                
                .bugbash-title {
                    flex: 1;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    word-wrap: normal;

                    &.is-dirty {
                        color: #000;
                        font-weight: 500;
                    }

                    &.is-invalid {
                        color: #a80000;
                    }
                }

                .bugbashes-button {
                    color: #333333;

                    &:hover {
                        color: #0078d7;
                    }
                }

                .divider {
                    margin: 0 5px;
                }
            }            
        }

        .bugbash-hub-contents {
            height: 100%;
            position: relative;
            box-sizing: border-box;
            padding-top: 10px;                    

            .bugbash-editor, .bugbash-charts {
                padding: 8px;
                padding-top: 0;
            }

            &.bugbash-details {
                padding: 8px;
            }

            &.bugbash-results-hub-contents {
                padding-top: 0;
                
                &.new-bugbash {
                    padding-top: 10px;
                }

                .grid-message-bar {
                    margin-top: 10px;
                }
            }
        }
    }
}